

.textDiv {
  /* margin: 3rem; */
  color: #4b5563;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.iconDiv {
  /* margin: 2rem; */
}

.tooltip {
  font-weight: 200;

  position: relative;
  display: flex;

  justify-content: flex-end;
}

.closeIcon {
  position: relative;
  display: flex;

  justify-content: flex-end;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
