.login {
  height: 20vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px;
}
.login__textBox {
  padding: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}
